.container-1 {
    text-align: center;
    padding: 3rem 2rem;
    color: var(--main-white);
    background-color: var(--main-midblue);
    display: inline-block;
    justify-content: center;
    border: white 5px solid;
}

.container-box{
    display: flexbox;
    justify-content: center;
}
.container-titulo{
    text-align: center;
    padding: 20px ;
    text-decoration: underline;
}

.container-3 {
    display: inline-flexbox;
}
.container-3 h3 {
    text-align: center;
}

.container-boton {
    text-align: center;
    padding: 10rem 2rem;
    margin: 10px;
    text-decoration: none;
    font-size: 2rem;
}

.container-boton :hover {
    color: black;
}