.container-1 {
    text-align: center;
    padding: 3rem 2rem;
    color: var(--main-white);
    background-color: var(--main-midblue);
    display: block;
    justify-content: center;
}

.container-box{
    display: flex;
    justify-content: center;
}
.container-titulo{
    text-align: center;
    justify-content: center;
    padding: 10rem 2rem;
    text-decoration: underline;
}

.container-img {
    width: 50%;
    height: 100vh;
    background-color: #8196ab;
    display: flex;
    padding: 50px;
    margin: 10px;
    border: #ffffff 5px solid;
    border-radius: 50px;
    justify-content: center;
    background-image: url(../../assets/personal/actualizado-alejandro.jpeg);
    background-size: cover;
    
}

.container-3 {
    width: 50%;
    height: 100vh;
    justify-content: center;
    background-color: #0E0E52;
    display: inline-block;
    padding: 50px;
    margin: 10px;
    border: #ffffff 5px solid;
    border-radius: 50px;
    text-align: justify;
    font-size: 2.5rem;
    
}
.container-3 h3 {
    text-align: center;
}

.container-boton {
    text-align: center;
    padding: 10rem 2rem;
    text-decoration: none;
    font-size: 2rem;
}

.container-boton :hover {
    color: black;
}