
/* cambia la foto de presentacion */

.welcome-presentacion {
    border: #ffffff 1px solid;
    border-radius: 50%;
}


 /* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(174, 201, 207);
    background-image: linear-gradient(62deg, #0b0b0b 0%, #181719 100%);
    background-image: url(../../assets/img/water-21.gif);

}
/*cambia el full stack*/
.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
    font-family: 'Lobster', cursive;
}

/*cambia el skip*/
.full-work {
    display: flex;
    justify-content: last baseline;
    color: var(--main-white);
    font-size: 2rem;
}
.full-work span {
    color: white;
    inline-size: none;
}

/*skill */

#habilidadesskills {
    text-align: center;
    padding: 10rem 2rem;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
    background-color: var(--main-midblue);
    
}

#project-title {
    text-align: center;
    padding: 10rem 2rem;
    text-decoration: underline;
    
}

.projects1 {
    background-color: #8196ab;
    display: inline-block;
    padding: 50px;
    margin: 10px;
    border: #0b0b0b 5px solid;
    border-radius: 50px;
    
}

.projects2 {
    background-color: rgb(0, 164, 252);
    display: inline-block;
    padding: 50px;
    margin: 10px;
    border: #0b0b0b 5px solid;
    border-radius: 50px;

}
.projects3 {
    background-color: rgb(0, 164, 252);
    display: inline-block;
    padding: 50px;
    margin: 10px;
    border: #0b0b0b 5px solid;
    border-radius: 50px;
}
.projects4 {
    background-color: rgb(0, 164, 252);
    display: inline-block;
    padding: 50px;
    margin: 10px;
    border: #0b0b0b 5px solid;
    border-radius: 50px;
}
