/* Custom properties/variables  */
:root {
    --main-white: #ffffff;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-grey: #808080;
    --main-midblue: #0E0E52;
    --main-navyblu: #150578;
    --main-persiablue: #192BC2;
    --main-carolinablue: #192BC2;
    --main-skyblue: #78C0E0;
}

  /* Base reset */
  * {
    margin: 0;
    padding: 0;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
    font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
    font-size: 55%;
    }
}

/* cambia el alejandro*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: rgb(249, 249, 249);
    display: flex;
}
